eDATABASE_URL="postgresql://user:password@localhost:5432/helpdesk"
JWT_SECRET="min-32-caracteres"
COOKIE_SECRET="min-32-caracteres-diferente-do-jwt"
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="seu@gmail.com"
SMTP_PASS="sua-app-password"

SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="usuario-gerado-no-ethereal"
SMTP_PASS="senha-gerada-no-ethereal"